replicaCount: 1

image:
  repository: localhost:32000/myapp
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 8080

resources: {}
nodeSelector: {}
tolerations: []
affinity: []
