apiVersion: v1
kind: Service
metadata:
  name: jenkins
spec:
  selector:
    app: jenkins
  type: NodePort
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 32043       # your existing NodePort
    - name: jnlp
      port: 50000
      targetPort: 50000
      nodePort: 32044       # pick a free NodePort
