apiVersion: v1
kind: Pod
spec:
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

  containers:
    - name: security-tools
      image: bridgecrew/checkov:latest
      command: ["cat"]
      tty: true
